# Ignore Gradle project-specific cache directory
.gradle

# Ignore intelliJ and robocode settings
.idea/*
.settings
robots/*
robocode.iml
config

# Ignore Gradle build output directory
build
src/main/resources/
/.idea/
